<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soul Trip</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1aac26dbd0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="app">
      <header>
        <div class="logo">
          Soul Trip
        </div>
      </header>
      <main>
        <section class="hero">
          <h2>Your Next Adventure Awaits You!</h2>
        </section>
        <section class="entry">
          <h2 id="error" class="hide">Bad data entered. Please try again.</h2>
          <form>
            <div class="row input-container">
              <div class="col-xs-12">
                <div class="styled-input wide">
                  <label for="city">Destination</label>
                  <input
                    type="text"
                    id="city"
                    name="city"
                    placeholder="What city are you going to..."
                  />
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                  <label for="start">Depart</label>
                  <input type="date" id="depart" name="depart" required />
                </div>
              </div>
              <!-- <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float: right;">
                  <label for="end">Return</label>
                  <input type="date" id="returns" name="return" required />
                </div>
              </div> -->
              <div class="col-xs-12">
                <button id="generate" type="submit">Search</button>
              </div>
            </div>
          </form>
        </section>
        <section class="results">
          <figure class="background-img">
            <img id='trip-img'
              src="https://cdn.pixabay.com/photo/2017/05/09/03/47/buildings-2297210_960_720.jpg"
            />
          </figure>
          <div class="backdrop">
            <section class="header">
              <div class="trip">
                <label>Trip to</label>
                <h3 id="trip-to">--</h3>
              </div>
              <div class="date">
                <label>On</label>
                <h3 id="trip-on">--</h3>
              </div>
            </section>
            <section class="temp">
              <div class="type">
                <label>high</label>
                <h1 id='high'>-</h1>
              </div>
              <figure>
                <img src="https://image.flaticon.com/icons/svg/365/365229.svg" alt="Weather Forecast">
              </figure>
              <div class="type">
                <label>low</label>
                <h1 id='low'>-</h1>
              </div>
            </section>
            <section class="meta-info">
              <label>
                this trip is <span id='day-info'>--</span>
              </label>
              <label>
               Typical weather for then is <span id='weather'>-</span>.
              </label>
            </section>
      </main>
    </div>
    <footer>
      <nav class="footer">
        <div class="copyright">Moses Kamara © 2021</div>
        <ul>
          <li>
            <a href="https://linkedin.com/in/moses-kamara"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/kamara-moses" target="_blank"
              ><i class="fab fa-github-square"></i
            ></a>
          </li>
        </ul>
      </nav>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
