<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soul Trip</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700/Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/aca2d893d4.js"
    crossorigin="anonymous"
></script>
  </head>

  <body>
    <div id="app">
      <div class="holder headline">
        <h1>Soul Trip</h1>
      </div>
      <main>
        <section class="hero">
          <h2>Your Next Adventure Awaits...</h2>
        </section>
        <section class="search">
          <div class="search-form">
            <div class="row input-container">
              <div class="col-xs-12">
                <div class="styled-input wide">
                  <label for="city">Destination</label>
                  <input type="text" id="city" placeholder="Where are you going..." required />
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                  <label for="depart">Depart</label> 
                  <input type="date" id="depart" required />
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float:right;">
                  <label for="return">Return</label> 
                  <input type="date" id="return" required />
                </div>
              </div>
              <button class="btn" id="generate" type="submit">Submit</button>
            </div>
          </div>
        </section>
        <section>
          <div id="journal" class="holder entry hide">
            <div class="title"><h2>Most Recent Entry</h2></div>
            <div id="entryHolder">
              <div id="entryContainer">
                <div id="name"></div>
                <div id="pix"></div>
                <div id="icon"></div>
                <div id="daysUntil"></div>
                <div id="tripLength"></div>
                <div id="description"></div>
                <div id="highTemp"></div>
                <div id="lowTemp"></div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <h2>
          Moses Kamara &copy; 2020 
        </h2>
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
      }
    </script>
  </body>
</html>