<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soul Trip</title>
        <link href="https://fonts.googleapis.com/css2?&family=Roboto:wght@300;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1aac26dbd0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <div class="logo">
                  Soul Trip
                </div>
              </header>
            <main>
                <section class="hero">
                    <h2>Your Next Adventure Awaits You!</h2>
                  </section>
                <section id="entry">
                    <form>
                        <div class="row input-container">
                            <div class="col-xs-12">
                                <div class="styled-input wide">
                                    <label for="destination">Destination</label>
                                    <input id="city" type="text" name="city" placeholder="Going to...">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="styled-input">
                                    <label for="start">Depart</label>
                                    <input type="date" id="start" name="start" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="styled-input" style="float: right;">
                                    <label for="end">Return</label>
                                    <input type="date" id="end" name="end" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button id="submit" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </section>
            </main>

            <footer>
                <nav class="footer">
                    <div class="copyright">Moses Kamara © 2021</div>
                    <ul>
                        <li><a href="https://linkedin.com/in/moses-kamara"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/kamara-moses" target="_blank"><i class="fab fa-github-square"></i></a></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
